 /* *{
    margin: 0;
}  */
.content{
    margin: auto;
    width: 55%;
}

.bot{
    margin-left: 430px;
}

h1{
    font-size: 40px;
}


header {
    height: 90px;
    background-image: url("img/pattern.png");
    background-size: 600px;
    background-color: #4EA0FF;
}
    
.logo{
    width: 10%;
    margin-top: 2%;
}

.article{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #969696;
}
.mark{
     color: #50BBEB;
}

.list{
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 15px;    
}

.photo{
     font-size: 10px;
}
 
.important{
      background-color: yellow;
}
    
  
thead {
      background-color: #20A9E5;
      color: white;
      font-size: 20px;
      text-align: left;
}
    
tbody {
      background-color: lightblue;
}
.text {
     width: 700px;
}
.white {
      background-color: white;
}
    
table {
      border-spacing: 0;
} 
